# Advanced Querying Mongo

Importing libraries and setting up connection

In [1]:
import pandas as pd

In [2]:
from pymongo import MongoClient
client = MongoClient("localhost:27017")
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [4]:
client.list_database_names()

['Ironhack_1', 'Lab-mango', 'admin', 'config', 'local']

In [5]:
db = client.get_database('Lab-mango')
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'Lab-mango')

In [6]:
db.list_collection_names()

['Companies']

In [7]:
collection = db.get_collection('Companies')

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [8]:
collection.find_one().keys()

dict_keys(['_id', 'name', 'permalink', 'crunchbase_url', 'homepage_url', 'blog_url', 'blog_feed_url', 'twitter_username', 'category_code', 'number_of_employees', 'founded_year', 'founded_month', 'founded_day', 'deadpooled_year', 'tag_list', 'alias_list', 'email_address', 'phone_number', 'description', 'created_at', 'updated_at', 'overview', 'image', 'products', 'relationships', 'competitions', 'providerships', 'total_money_raised', 'funding_rounds', 'investments', 'acquisition', 'acquisitions', 'offices', 'milestones', 'video_embeds', 'screenshots', 'external_links', 'partners'])

In [9]:
name = list(collection.find({'name': 'Babelgum'}))
name

[{'_id': ObjectId('52cdef7c4bab8bd675297da0'),
  'name': 'Babelgum',
  'permalink': 'babelgum',
  'crunchbase_url': 'http://www.crunchbase.com/company/babelgum',
  'homepage_url': 'http://babelgum.com',
  'blog_url': 'http://babelgum.com/blog',
  'blog_feed_url': 'http://feeds.feedburner.com/Babelgum',
  'twitter_username': 'Babelgum',
  'category_code': 'games_video',
  'number_of_employees': None,
  'founded_year': 2007,
  'founded_month': 3,
  'founded_day': 1,
  'deadpooled_year': 2013,
  'deadpooled_month': 1,
  'deadpooled_day': 9,
  'deadpooled_url': '',
  'tag_list': 'iptv, web2ireland',
  'alias_list': '',
  'email_address': 'info@babelgum.com',
  'phone_number': '',
  'description': '',
  'created_at': 'Sat Jun 09 08:15:21 UTC 2007',
  'updated_at': 'Wed Oct 16 06:30:25 UTC 2013',
  'overview': '<p>Babelgum is an integrated web and mobile video content platform, free for users and supported by advertising, available on-demand to a global audience.</p>\n\n<p>On March 20th 2009 Babelgum released a U.S. version of its mobile video application for iPhone and iPod Touch (previously available in Italy and the UK) and simultaneously launched a redesigned website (www.babelgum.com) with a Flash-based player, offering one of the first fully integrated video mobile and web user experiences.</p>\n\n<p>Babelgum Mobile is currently available in the United States, UK, Italy, Germany, France and Spain and over 50 other countries across the globe on iPhone 3G, iPod Touch, Google Android G-Phones 1 and 2, Nokia (N96, N95 and 6210) via 3G and WiFi.</p>\n\n<p>Babelgum is an independent and privately held company with offices in the United States, UK, Ireland, France and Italy.</p>\n\n<p>TRAFFIC FIGURES</p>\n\n<p>In July 2009 Babelgum recorded on its website over 2 million monthly unique users worldwide â€“ 1.7 million in the US alone (Source: comScore). Over 2 million people have downloaded the Babelgum mobile applications and watched videos on them.</p>\n\n<p>DEVELOPMENT STRATEGY</p>\n\n<p>In Europe, Babelgum made a strategic agreement with Vodafone to launch a mobile service that allows users to watch videos for free also over 3G networks (Vodafone supports marketing campaigns through SMS and other PR activities targeting their Customer Base). Babelgum is also seeking selected strategic partnerships in the United States.</p>\n\n<p>BABELGUMâ€™S EDITORIAL APPROACH TO CONTENT</p>\n\n<p>Positioned between user generated video hubs and network TV-oriented destinations, Babelgum has a unique editorial approach which focuses on the third part of the ecosystem: innovative, professionally produced content on very specific passions curated by experts in their fields. </p>\n\n<p>The editorial team is driven by professional publishers who scout and select programming for the following channels: Music, Comedy, Film, Our Earth (dedicated to nature and the environment) and Metropolis (all about urban culture and trends). </p>\n\n<p>The mobile and web platforms are integrated functionally and graphically and complement each other, although mobile programming is more carefully tailored to local markets, based on research into national tastes and viewing habits. </p>\n\n<p>Babelgumâ€™s content comprises independent and mainstream programming as well as exclusive original productions.</p>\n\n<p>LIST OF MAIN CONTENT PROVIDERS:</p>\n\n<p>Babelgumâ€™s content partners include, among others, EMI, Sony BMG, the New York Times, PBS, BBC, VBS, Lonely Planet, Coolhunting, National Geographic, Funny or Die, T5M, Shine Limited, Cinetic Rights Management, Content Republic, Gong Anime, The Workbook Project, Cinelan, Power to the Pixel and Off the Fence as well as the Seattle, Encounters, Los Angeles, and Hamptons film festivals.</p>\n\n<p>ONLINE VIDEO COMPETITIONS:</p>\n\n<p>The company has also set up a series of online contests to nurture independent film, music and art talent: the Babelgum Online Film Festival, the Babelgum Music Video Awards and the Babelgum Metropolis Art Prize chaired respectively by Spike Lee, Michel Gondry and Isabella Rossellini.</p>',
  'image': {'available_sizes': [[[135, 102],
     'assets/images/resized/0006/7738/67738v2-max-150x150.png'],
    [[135, 102], 'assets/images/resized/0006/7738/67738v2-max-250x250.png'],
    [[135, 102], 'assets/images/resized/0006/7738/67738v2-max-450x450.png']],
   'attribution': None},
  'products': [{'name': 'Babelgum', 'permalink': 'babelgum'}],
  'relationships': [{'is_past': False,
    'title': 'CEO',
    'person': {'first_name': 'Valerio',
     'last_name': 'Zingarelli',
     'permalink': 'valerio-zingarelli'}},
   {'is_past': True,
    'title': 'CTO',
    'person': {'first_name': 'Mallku',
     'last_name': 'Caballero',
     'permalink': 'mallku-caballero'}},
   {'is_past': True,
    'title': '',
    'person': {'first_name': 'Michael',
     'last_name': "O'Callaghan",
     'permalink': 'michael-o-callaghan'}},
   {'is_past': True,
    'title': '',
    'person': {'first_name': 'Erik',
     'last_name': 'Lumer',
     'permalink': 'erik-lumer'}},
   {'is_past': True,
    'title': 'Engineering Director',
    'person': {'first_name': 'Mark',
     'last_name': 'Kearns',
     'permalink': 'mark-kearns'}}],
  'competitions': [{'competitor': {'name': 'Joost', 'permalink': 'joost'}},
   {'competitor': {'name': 'Zattoo', 'permalink': 'zattoo'}},
   {'competitor': {'name': 'Veoh', 'permalink': 'veoh'}},
   {'competitor': {'name': 'Vudu', 'permalink': 'vudu'}},
   {'competitor': {'name': 'Inuk Networks', 'permalink': 'inuk-networks'}},
   {'competitor': {'name': 'Participatory Culture Foundation',
     'permalink': 'participatory-culture-foundation'}},
   {'competitor': {'name': 'Next New Networks',
     'permalink': 'next-new-networks'}}],
  'providerships': [],
  'total_money_raised': '$13.2M',
  'funding_rounds': [{'id': 17,
    'round_code': 'a',
    'source_url': 'http://www.redherring.com/Article.aspx?a=21800&hed=Battle+of+the+Billionaires&sector=Regions&subsector=Europe',
    'source_description': '',
    'raised_amount': 13200000,
    'raised_currency_code': 'USD',
    'funded_year': 2005,
    'funded_month': 6,
    'funded_day': 1,
    'investments': [{'company': None,
      'financial_org': None,
      'person': {'first_name': 'Silvio',
       'last_name': 'Scaglia',
       'permalink': 'silvio-scaglia'}}]}],
  'investments': [],
  'acquisition': None,
  'acquisitions': [],
  'offices': [{'description': '',
    'address1': '',
    'address2': '',
    'zip_code': '',
    'city': 'London',
    'state_code': None,
    'country_code': 'GBR',
    'latitude': 53.344104,
    'longitude': -6.267494}],
  'milestones': [],
  'ipo': None,
  'video_embeds': [],
  'screenshots': [],
  'external_links': [],
  'partners': []}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [10]:
projec = {'_id': 0, 'name': 1, 'number_of_employees': 1}
filtro = {'number_of_employees': {'$gt': 5000}}
employees = list(collection.find(filtro, projec).sort('number_of_employees', 1).limit(20))
len(employees)

20

In [62]:
employees

[{'name': 'Nintendo', 'number_of_employees': 5080},
 {'name': 'Hexaware Technologies', 'number_of_employees': 5200},
 {'name': 'Facebook', 'number_of_employees': 5299},
 {'name': 'OpenText', 'number_of_employees': 5300},
 {'name': 'CPM Braxis', 'number_of_employees': 5400},
 {'name': 'LSI', 'number_of_employees': 5400},
 {'name': 'Microchip Technologies', 'number_of_employees': 5500},
 {'name': 'Mediaset', 'number_of_employees': 5729},
 {'name': 'Mindray Medical International', 'number_of_employees': 5763},
 {'name': 'Dentsu', 'number_of_employees': 6000},
 {'name': 'Atmel', 'number_of_employees': 6000},
 {'name': 'Tata Communications', 'number_of_employees': 6000},
 {'name': 'Baidu', 'number_of_employees': 6000},
 {'name': 'Acxiom', 'number_of_employees': 6200},
 {'name': 'Acxiom', 'number_of_employees': 6200},
 {'name': 'SRA International', 'number_of_employees': 6400},
 {'name': "Moody's", 'number_of_employees': 6800},
 {'name': 'ManTech', 'number_of_employees': 7000},
 {'name': 'Adobe Systems', 'number_of_employees': 7173},
 {'name': 'Broadcom', 'number_of_employees': 7400}]

In [11]:
df = pd.DataFrame(employees)
df.head()

                    name  number_of_employees
0               Nintendo                 5080
1  Hexaware Technologies                 5200
2               Facebook                 5299
3               OpenText                 5300
4             CPM Braxis                 5400

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [12]:
proj = {'_id': 0, 'name': 1 ,'founded_year': 1}
and_founded = {"$and": [{'founded_year': {'$gte': 2000}, 'founded_year':{'$lte': 5000}}]}
companies_founded = list(collection.find(and_founded, proj).sort('founded_year',1))
companies_founded[:15]

[{'name': 'Alstrasoft', 'founded_year': 1800},
 {'name': 'SmallWorlds', 'founded_year': 1800},
 {'name': 'US Army', 'founded_year': 1800},
 {'name': 'DuPont', 'founded_year': 1802},
 {'name': 'McKesson', 'founded_year': 1833},
 {'name': 'Bachmann Industries', 'founded_year': 1833},
 {'name': 'Bertelsmann', 'founded_year': 1835},
 {'name': 'Accuity', 'founded_year': 1836},
 {'name': 'CENTRA', 'founded_year': 1839},
 {'name': 'WeGame', 'founded_year': 1840},
 {'name': 'VideoSurf', 'founded_year': 1840},
 {'name': 'VideoSurf', 'founded_year': 1840},
 {'name': 'The Economist Group', 'founded_year': 1843},
 {'name': 'Pearson', 'founded_year': 1844},
 {'name': 'Associated Press', 'founded_year': 1846}]

In [13]:
len(companies_founded)

13136

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [197]:
all_info = list(collection.find({'founded_year': {'$gte': 0}}))
df = pd.DataFrame(all_info)
df.head()

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,...,offices,milestones,video_embeds,screenshots,external_links,partners,deadpooled_month,deadpooled_day,deadpooled_url,ipo
0,52cdef7c4bab8bd675297d8a,Wetpaint,abc2,http://www.crunchbase.com/company/wetpaint,http://wetpaint-inc.com,http://digitalquarters.net/,http://digitalquarters.net/feed/,BachelrWetpaint,web,47.0,...,"[{'description': '', 'address1': '710 - 2nd Av...","[{'id': 5869, 'description': 'Wetpaint named i...",[],"[{'available_sizes': [[[150, 86], 'assets/imag...",[{'external_url': 'http://www.geekwire.com/201...,[],NaN,NaN,NaN,NaN
1,52cdef7c4bab8bd675297d8b,AdventNet,abc3,http://www.crunchbase.com/company/adventnet,http://adventnet.com,,,manageengine,enterprise,600.0,...,"[{'description': 'Headquarters', 'address1': '...",[],[],"[{'available_sizes': [[[150, 94], 'assets/imag...",[],[],NaN,NaN,NaN,NaN
2,52cdef7c4bab8bd675297d8c,Zoho,abc4,http://www.crunchbase.com/company/zoho,http://zoho.com,http://blogs.zoho.com/,http://blogs.zoho.com/feed,zoho,software,1600.0,...,"[{'description': 'Headquarters', 'address1': '...","[{'id': 388, 'description': 'Zoho Reaches 2 Mi...","[{'embed_code': '<object width=""430"" height=""2...",[],[{'external_url': 'http://www.online-tech-tips...,[],NaN,NaN,NaN,NaN
3,52cdef7c4bab8bd675297d8d,Digg,digg,http://www.crunchbase.com/company/digg,http://www.digg.com,http://blog.digg.com/,http://blog.digg.com/?feed=rss2,digg,news,60.0,...,"[{'description': None, 'address1': '135 Missis...","[{'id': 9588, 'description': 'Another Digg Exe...","[{'embed_code': '<embed src=""http://blip.tv/pl...","[{'available_sizes': [[[117, 150], 'assets/ima...",[{'external_url': 'http://www.sociableblog.com...,[],NaN,NaN,None,None
4,52cdef7c4bab8bd675297d8e,Facebook,facebook,http://www.crunchbase.com/company/facebook,http://facebook.com,http://blog.facebook.com,http://blog.facebook.com/atom.php,facebook,social,5299.0,...,"[{'description': 'Headquarters', 'address1': '...","[{'id': 108, 'description': 'Facebook adds com...",[],"[{'available_sizes': [[[150, 68], 'assets/imag...",[{'external_url': 'http://latimesblogs.latimes...,[],NaN,NaN,,"{'valuation_amount': 104000000000, 'valuation_..."

In [15]:
df.ipo.head(10)

0                                                  NaN
1                                                  NaN
2                                                  NaN
3                                                 None
4    {'valuation_amount': 104000000000, 'valuation_...
5                                                 None
6                                                 None
7                                                 None
8                                                 None
9    {'valuation_amount': 18100000000, 'valuation_c...
Name: ipo, dtype: object

In [16]:
proj = {'_id': 0, 'name': 1, 'ipo.valuation_amount': 1 }
and_valuation = {'$and':[{'ipo.valuation_amount': {'$gt':100000000}},{'founded_year':{'$lt':2010}}] }
valuation_amount = list(collection.find(and_valuation,  proj))
valuation_amount[0:10]

[{'name': 'Facebook', 'ipo': {'valuation_amount': 104000000000}},
 {'name': 'Twitter', 'ipo': {'valuation_amount': 18100000000}},
 {'name': 'Yelp', 'ipo': {'valuation_amount': 1300000000}},
 {'name': 'LinkedIn', 'ipo': {'valuation_amount': 9310000000}},
 {'name': 'Amazon', 'ipo': {'valuation_amount': 100000000000}},
 {'name': 'Brightcove', 'ipo': {'valuation_amount': 290000000}},
 {'name': 'KIT digital', 'ipo': {'valuation_amount': 235000000}},
 {'name': 'Nielsen', 'ipo': {'valuation_amount': 1600000000}},
 {'name': 'OpenTable', 'ipo': {'valuation_amount': 1050000000}},
 {'name': 'ChannelAdvisor', 'ipo': {'valuation_amount': 287000000}}]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [22]:
projection = {'_id': 0,'name': 1, 'number_of_employees': 1, 'founded_year': 1}
and_employees_2 = {'$and': [{'number_of_employees': {'$lt': 1000}}, {'founded_year': {'$lt': 2005}}]}
employees_2 = list(collection.find(and_employees_2,    projection).sort('number_of_employees', -1).limit(10))
employees_2

[{'name': 'Infinera Corporation',
  'number_of_employees': 974,
  'founded_year': 2000},
 {'name': 'NorthPoint Communications Group',
  'number_of_employees': 948,
  'founded_year': 1997},
 {'name': '888 Holdings', 'number_of_employees': 931, 'founded_year': 1997},
 {'name': 'Forrester Research',
  'number_of_employees': 903,
  'founded_year': 1983},
 {'name': 'SonicWALL', 'number_of_employees': 900, 'founded_year': 1991},
 {'name': 'Webmetrics', 'number_of_employees': 900, 'founded_year': 1999},
 {'name': 'Cornerstone OnDemand',
  'number_of_employees': 881,
  'founded_year': 1999},
 {'name': 'Mozilla', 'number_of_employees': 800, 'founded_year': 1998},
 {'name': 'Buongiorno', 'number_of_employees': 800, 'founded_year': 1999},
 {'name': 'Yelp', 'number_of_employees': 800, 'founded_year': 2004}]

### 6. All the companies that don't include the `partners` field.

In [130]:
partners = list(collection.distinct('partners'))
partners[1:3]

[{'partner_name': 'AngelList',
  'homepage_url': '',
  'link_1_url': 'https://angel.co/synergie-media?utm_source=crunchbase&utm_medium=link&utm_content=profile&utm_term=synergie-media&utm_campaign=crunchbase',
  'link_2_url': None,
  'link_3_url': None,
  'link_1_name': 'AngelList Page',
  'link_2_name': None,
  'link_3_name': None},
 {'partner_name': 'AngelList',
  'homepage_url': '',
  'link_1_url': 'https://angel.co/thatsmymouse?utm_source=crunchbase&utm_medium=link&utm_content=profile&utm_term=thatsmymouse&utm_campaign=crunchbase',
  'link_2_url': None,
  'link_3_url': None,
  'link_1_name': 'AngelList Page',
  'link_2_name': None,
  'link_3_name': None}]

In [81]:
print(collection.count_documents({}))
print(len(partners))  #vemos que de los 1881 documentos, solo hay 144 que tienen el campo 'partners'

18801
144

In [135]:
project = {'_id': 0, 'name': 1, 'partners': 1}
no_partners = list(collection.find({'name': {'$nin': ['partners']}}, project))
no_partners[:50]

[{'name': 'Wetpaint', 'partners': []},
 {'name': 'AdventNet', 'partners': []},
 {'name': 'Zoho', 'partners': []},
 {'name': 'Digg', 'partners': []},
 {'name': 'Facebook', 'partners': []},
 {'name': 'Omnidrive', 'partners': []},
 {'name': 'Postini', 'partners': []},
 {'name': 'Geni', 'partners': []},
 {'name': 'Flektor', 'partners': []},
 {'name': 'Fox Interactive Media', 'partners': []},
 {'name': 'Twitter', 'partners': []},
 {'name': 'StumbleUpon', 'partners': []},
 {'name': 'Gizmoz', 'partners': []},
 {'name': 'Scribd', 'partners': []},
 {'name': 'Slacker', 'partners': []},
 {'name': 'Lala', 'partners': []},
 {'name': 'Helio', 'partners': []},
 {'name': 'eBay', 'partners': []},
 {'name': 'MeetMoi', 'partners': []},
 {'name': 'Joost', 'partners': []},
 {'name': 'CBS', 'partners': []},
 {'name': 'Viacom', 'partners': []},
 {'name': 'Babelgum', 'partners': []},
 {'name': 'Plaxo', 'partners': []},
 {'name': 'Cisco', 'partners': []},
 {'name': 'Yahoo!', 'partners': []},
 {'name': 'Powerset', 'partners': []},
 {'name': 'Technorati', 'partners': []},
 {'name': 'SpinVox', 'partners': []},
 {'name': 'AddThis', 'partners': []},
 {'name': 'OpenX', 'partners': []},
 {'name': 'Mahalo', 'partners': []},
 {'name': 'Sparter', 'partners': []},
 {'name': 'Kyte', 'partners': []},
 {'name': 'Veoh', 'partners': []},
 {'name': 'Gannett', 'partners': []},
 {'name': 'Thoof', 'partners': []},
 {'name': 'Jingle Networks', 'partners': []},
 {'name': 'Info', 'partners': []},
 {'name': 'JotSpot', 'partners': []},
 {'name': 'Meetup', 'partners': []},
 {'name': 'Mercora', 'partners': []},
 {'name': 'NetRatings', 'partners': []},
 {'name': 'LifeLock', 'partners': []},
 {'name': 'Wesabe', 'partners': []},
 {'name': 'Jangl SMS', 'partners': []},
 {'name': 'SmugMug', 'partners': []},
 {'name': 'Prosper', 'partners': []},
 {'name': 'Google',
  'partners': [{'partner_name': 'AngelList',
    'homepage_url': 'http://google.com',
    'link_1_url': 'https://angel.co/just-us-2-dunrs-roxy?utm_source=crunchbase&utm_medium=link&utm_content=profile&utm_term=google&utm_campaign=crunchbase',
    'link_2_url': None,
    'link_3_url': None,
    'link_1_name': 'AngelList Page',
    'link_2_name': None,
    'link_3_name': None}]},
 {'name': 'Jajah', 'partners': []}]

In [91]:
# no_partners = list(collection.find({'partners: {'$nin': ['partners']}}, project))
#no_partners = list(collection.find({'partners': {'$nin': ['']}}, project))
# también probe con '$in', '$exists', etc....

len(no_partners) #he probado con todo pero no consigo quedarme con las 'companies' que no tengan 'partners' me salen todas.

18801

### 7. All the companies that have a null type of value on the `category_code` field.

In [103]:
null_type = list(collection.distinct('category_code'))
print(null_type)  #None (null type)

[None, 'advertising', 'analytics', 'automotive', 'biotech', 'cleantech', 'consulting', 'design', 'ecommerce', 'education', 'enterprise', 'fashion', 'finance', 'games_video', 'government', 'hardware', 'health', 'hospitality', 'legal', 'local', 'manufacturing', 'medical', 'messaging', 'mobile', 'music', 'nanotech', 'network_hosting', 'news', 'nonprofit', 'other', 'photo_video', 'public_relations', 'real_estate', 'search', 'security', 'semiconductor', 'social', 'software', 'sports', 'transportation', 'travel', 'web']

In [102]:
df.category_code.value_counts(dropna=False)  #NaN (nulltype)

web                 2901
software            2240
games_video          892
advertising          812
mobile               768
other                764
enterprise           624
ecommerce            577
consulting           528
network_hosting      505
public_relations     434
search               326
NaN                  318
hardware             276
biotech              234
cleantech            207
security             129
semiconductor        123
analytics             66
social                46
finance               46
news                  41
education             33
music                 32
messaging             28
travel                24
photo_video           23
health                21
medical               20
legal                 17
manufacturing         15
sports                12
fashion                9
real_estate            9
hospitality            8
automotive             7
transportation         7
nanotech               5
design                 4
nonprofit              3
local                  1
government             1
Name: category_code, dtype: int64

In [128]:
proj = {'_id':0, 'name': 1, 'category_code': 1}
null_type = list(collection.find({'category_code': None}, proj))
null_type[:5]

[{'name': 'Collective', 'category_code': None},
 {'name': 'Snimmer', 'category_code': None},
 {'name': 'KoolIM', 'category_code': None},
 {'name': 'Level9 Media', 'category_code': None},
 {'name': 'VidKing', 'category_code': None}]

In [138]:
collection.count_documents({'category_code': None})

2751

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [145]:
proj = {'_id':0 , 'name': 1, 'number_of_employees': 1}
and_num = {'number_of_employees': {'$gte': 100, '$lt':1_000}}
num_employees = list(collection.find(and_num, proj))
num_employees[:5]

[{'name': 'AdventNet', 'number_of_employees': 600},
 {'name': 'AddThis', 'number_of_employees': 120},
 {'name': 'OpenX', 'number_of_employees': 305},
 {'name': 'LifeLock', 'number_of_employees': 644},
 {'name': 'Jajah', 'number_of_employees': 110}]

### 9. Order all the companies by their IPO price in a descending order.

In [157]:
print(list(collection.distinct('ipo.valuation_amount')))

[None, 117900, 5000000, 11003200, 25000000, 30000000, 44000000, 50000000, 55000000, 66600000, 95500000, 100000000, 110000000, 134000000, 140000000, 160000000, 174000000, 235000000, 245000000, 275000000, 287000000, 290000000, 300000000, 315000000, 337000000, 350000000, 367350000, 450000000, 465000000, 750000000, 803000000, 824000000, 900000000, 970000000, 973500000, 1000000000, 1050000000, 1060000000, 1096000000, 1100000000, 1300000000, 1600000000, 2550000000, 3000000000, 3273770000, 4000000000, 5440000000, 6000000000, 9310000000, 9430000000, 11000000000, 12800000000, 18100000000, 100000000000, 104000000000, 108960000000]

In [163]:
proj = {'_id':0, 'name': 1,'ipo.valuation_amount': 1}
ipo_price = list(collection.find({'ipo.valuation_amount': {'$gt': 0}}, proj).sort('ipo.valuation_amount', -1))
ipo_price[:10]

[{'name': 'GREE', 'ipo': {'valuation_amount': 108960000000}},
 {'name': 'Facebook', 'ipo': {'valuation_amount': 104000000000}},
 {'name': 'Amazon', 'ipo': {'valuation_amount': 100000000000}},
 {'name': 'Twitter', 'ipo': {'valuation_amount': 18100000000}},
 {'name': 'Groupon', 'ipo': {'valuation_amount': 12800000000}},
 {'name': 'Tencent', 'ipo': {'valuation_amount': 11000000000}},
 {'name': 'Western Digital', 'ipo': {'valuation_amount': 9430000000}},
 {'name': 'LinkedIn', 'ipo': {'valuation_amount': 9310000000}},
 {'name': 'BMC Software', 'ipo': {'valuation_amount': 6000000000}},
 {'name': 'Rackspace', 'ipo': {'valuation_amount': 5440000000}}]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [167]:
proj = {'_id':0, 'name': 1, 'number_of_employees': 1}
top_companies = list(collection.find({}, proj).sort('number_of_employees', -1).limit(10))
top_companies

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000}]

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [168]:
list(collection.distinct('founded_month'))

[None, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [214]:
proj = {'_id': 0, 'name': 1, 'founded_month': 1}
lista = [4,5,6]
founded_second_semester = list(collection.find({'founded_month': {'$in': lista}}, proj).limit(1000))
founded_second_semester[:10]

[{'name': 'Postini', 'founded_month': 6},
 {'name': 'Geni', 'founded_month': 6},
 {'name': 'Fox Interactive Media', 'founded_month': 6},
 {'name': 'Technorati', 'founded_month': 6},
 {'name': 'OpenX', 'founded_month': 5},
 {'name': 'Sparter', 'founded_month': 6},
 {'name': 'blogTV', 'founded_month': 5},
 {'name': 'Livestream', 'founded_month': 5},
 {'name': 'GrandCentral', 'founded_month': 4},
 {'name': 'Topix', 'founded_month': 6}]

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [213]:
acquisition = list(collection.distinct('acquisition'))
acquisition[:3]

[None,
 {'price_amount': None,
  'price_currency_code': '',
  'term_code': None,
  'source_url': 'http://mashable.com/2006/10/24/blatant-facebook-rip-off-gets-acquired/',
  'source_description': '',
  'acquired_year': 2006,
  'acquired_month': 10,
  'acquired_day': 24,
  'acquiring_company': {'name': 'Renren Inc.', 'permalink': 'renren-inc'}},
 {'price_amount': None,
  'price_currency_code': '',
  'term_code': None,
  'source_url': 'http://www.local2me.com',
  'source_description': '',
  'acquired_year': 2007,
  'acquired_month': 12,
  'acquired_day': 1,
  'acquiring_company': {'name': 'Smalltown', 'permalink': 'smalltown'}}]

In [208]:
df[['acquisition', 'acquisitions']].head(7)

,acquisition,acquisitions
0,"{'price_amount': 30000000, 'price_currency_cod...",[]
1,None,[]
2,None,[]
3,"{'price_amount': 500000, 'price_currency_code'...","[{'price_amount': None, 'price_currency_code':..."
4,None,"[{'price_amount': None, 'price_currency_code':..."
5,None,[]
6,"{'price_amount': 625000000, 'price_currency_co...",[]

In [220]:
proj = {'_id':0, 'name': 1, 'founded_year': 1,'acquisition.price_amount': 1}
and_acqui = {'acquisition.price_amount': {'$gt': 10_000}, 'founded_year': {'$lt':2000}}
companies_acquisition = list(collection.find(and_acqui,proj))
companies_acquisition[:5]

[{'name': 'Postini',
  'founded_year': 1999,
  'acquisition': {'price_amount': 625000000}},
 {'name': 'SideStep',
  'founded_year': 1999,
  'acquisition': {'price_amount': 180000000}},
 {'name': 'Recipezaar',
  'founded_year': 1999,
  'acquisition': {'price_amount': 25000000}},
 {'name': 'Cyworld',
  'founded_year': 1999,
  'acquisition': {'price_amount': 7140000}},
 {'name': 'PayPal',
  'founded_year': 1998,
  'acquisition': {'price_amount': 1500000000}}]

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [228]:
proj = {'_id': 0, 'name': 1, 'acquisition.price_amount':1}
filtro = {'founded_year': {'$gt':2010}}
companies_acquisition_2 = list(collection.find(filtro, proj).sort('acquisition.price_amount', -1))
companies_acquisition_2[:26]

[{'name': 'Mokitown'},
 {'name': 'CircleUp'},
 {'name': 'PeekYou'},
 {'name': 'headr'},
 {'name': 'Fixya'},
 {'name': 'Wamba'},
 {'name': 'Pinger'},
 {'name': 'Widgetbox'},
 {'name': 'RazorGator'},
 {'name': 'Advaliant'},
 {'name': 'Fluc'},
 {'name': 'Social Gaming Network', 'acquisition': {'price_amount': None}},
 {'name': 'Mobiluck'},
 {'name': 'Skydeck'},
 {'name': 'Simplicant'},
 {'name': 'Moblica'},
 {'name': 'Springleap'},
 {'name': 'Jumbuck Entertainment'},
 {'name': 'Streamzy'},
 {'name': 'FirstString'},
 {'name': 'Fuzz'},
 {'name': 'Whisper Labs'},
 {'name': 'Carfeine'},
 {'name': 'Ziippi'},
 {'name': 'iBazar'},
 {'name': 'Mousebreaker', 'acquisition': {'price_amount': None}}]

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [236]:
proj = {'_id':0, 'name':1, 'founded_year': 1}
founded_year = list(collection.find({'founded_year': {'$ne':None}}, proj).sort('founded_year', 1))
founded_year [:10]

[{'name': 'Alstrasoft', 'founded_year': 1800},
 {'name': 'SmallWorlds', 'founded_year': 1800},
 {'name': 'US Army', 'founded_year': 1800},
 {'name': 'DuPont', 'founded_year': 1802},
 {'name': 'McKesson', 'founded_year': 1833},
 {'name': 'Bachmann Industries', 'founded_year': 1833},
 {'name': 'Bertelsmann', 'founded_year': 1835},
 {'name': 'Accuity', 'founded_year': 1836},
 {'name': 'CENTRA', 'founded_year': 1839},
 {'name': 'WeGame', 'founded_year': 1840}]

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [239]:
print(list(collection.distinct('founded_day')))

[None, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31]

In [242]:
proj = {'_id':0, 'name':1, 'founded_day':1, 'acquisition.price_amount':1}
seven_days = [1,2,3,4,5,6,7]
companies_days_founded = list(collection.find({'founded_day': {'$in': lista}}, proj).sort('acquisition.price_amount', -1).limit(10))
companies_days_founded

[{'name': 'Netscape',
  'founded_day': 4,
  'acquisition': {'price_amount': 4200000000}},
 {'name': 'Clearwell Systems',
  'founded_day': 6,
  'acquisition': {'price_amount': 410000000}},
 {'name': 'TweetDeck',
  'founded_day': 4,
  'acquisition': {'price_amount': 40000000}},
 {'name': 'Bebo', 'founded_day': 6, 'acquisition': {'price_amount': 10000000}},
 {'name': 'Ooyala', 'founded_day': 5},
 {'name': 'Disqus', 'founded_day': 5},
 {'name': 'Microsoft', 'founded_day': 4},
 {'name': 'Diigo', 'founded_day': 4},
 {'name': 'Zecco', 'founded_day': 4},
 {'name': 'CrowdVine', 'founded_day': 6}]

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [247]:
#collection.distinct('category_code')

In [249]:
proj = {'_id':0, 'name':1, 'category_code':1, 'number_of_employees':1}
category_web = list(collection.find({'category_code': 'web', 'number_of_employees':{'$gt': 4000}}, proj).sort('number_of_employees', 1))
category_web

[{'name': 'Expedia', 'category_code': 'web', 'number_of_employees': 4400},
 {'name': 'AOL', 'category_code': 'web', 'number_of_employees': 8000},
 {'name': 'Webkinz', 'category_code': 'web', 'number_of_employees': 8657},
 {'name': 'Rakuten', 'category_code': 'web', 'number_of_employees': 10000},
 {'name': 'Los Angeles Times Media Group',
  'category_code': 'web',
  'number_of_employees': 10000},
 {'name': 'Groupon', 'category_code': 'web', 'number_of_employees': 10000},
 {'name': 'Yahoo!', 'category_code': 'web', 'number_of_employees': 13600},
 {'name': 'eBay', 'category_code': 'web', 'number_of_employees': 15000},
 {'name': 'Experian', 'category_code': 'web', 'number_of_employees': 15500}]

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [252]:
collection.distinct('acquisition.price_currency_code')

['', 'CAD', 'EUR', 'GBP', 'JPY', 'SEK', 'USD']

In [257]:
proj = {'_id':0, 'name':1, 'acquisition.price_amount': 1,'acquisition.price_currency_code':1}
acquisition_euro = list(collection.find({'acquisition.price_currency_code': 'EUR', 'acquisition.price_amount': {'$gt':10_000_000}}, proj)
                        .sort('acquisition.price_amount', 1))
acquisition_euro

[{'name': 'Wayfinder',
  'acquisition': {'price_amount': 24000000, 'price_currency_code': 'EUR'}},
 {'name': 'ZYB',
  'acquisition': {'price_amount': 31500000, 'price_currency_code': 'EUR'}},
 {'name': 'Greenfield Online',
  'acquisition': {'price_amount': 40000000, 'price_currency_code': 'EUR'}},
 {'name': 'BioMed Central',
  'acquisition': {'price_amount': 43400000, 'price_currency_code': 'EUR'}},
 {'name': 'Webedia',
  'acquisition': {'price_amount': 70000000, 'price_currency_code': 'EUR'}},
 {'name': 'Tuenti Technologies',
  'acquisition': {'price_amount': 70000000, 'price_currency_code': 'EUR'}},
 {'name': 'Apertio',
  'acquisition': {'price_amount': 140000000, 'price_currency_code': 'EUR'}}]

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [261]:
proj = {'_id':0, 'name':1, 'acquisition': 1}
filtro = {'founded_month': {'$in':[1,2,3]}}
companies_acquisition_3 = list(collection.find(filtro,proj).limit(10))
companies_acquisition_3[:5]

[{'name': 'Facebook', 'acquisition': None},
 {'name': 'Twitter', 'acquisition': None},
 {'name': 'StumbleUpon',
  'acquisition': {'price_amount': 29000000,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2009/04/13/ebay-unacquires-stumbleupon/',
   'source_description': "StumbleUpon Beats Skype In Escaping EBay's Clutches",
   'acquired_year': 2009,
   'acquired_month': 4,
   'acquired_day': None,
   'acquiring_company': {'name': 'StumbleUpon', 'permalink': 'stumbleupon'}}},
 {'name': 'Gizmoz',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://www.gizmoz.com',
   'source_description': 'TechCrunch',
   'acquired_year': 2009,
   'acquired_month': 12,
   'acquired_day': 15,
   'acquiring_company': {'name': 'Daz 3d', 'permalink': 'daz-3d'}}},
 {'name': 'Helio',
  'acquisition': {'price_amount': 39000000,
   'price_currency_code': 'USD',
   'term_code': 'stock',
   'source_url': 'http://news.cnet.com/8301-10784_3-9978991-7.html',
   'source_description': 'Virgin Mobile USA buys Helio for $39 million',
   'acquired_year': 2008,
   'acquired_month': 6,
   'acquired_day': 27,
   'acquiring_company': {'name': 'Virgin Mobile USA',
    'permalink': 'virgin-mobile'}}}]

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [271]:
proj = {'_id':0, 'name':1, 'founded_year': 1,'acquisition.acquired_year': 1}
filtro = {'founded_year': {'$gte': 2000, '$lte':2010}, 'acquisition.acquired_year':{'$lt':2011, '$gt': 2000}}
founded_between = list(collection.find(filtro, proj))
founded_between[:7]

[{'name': 'StumbleUpon',
  'founded_year': 2002,
  'acquisition': {'acquired_year': 2009}},
 {'name': 'Gizmoz',
  'founded_year': 2003,
  'acquisition': {'acquired_year': 2009}},
 {'name': 'Helio',
  'founded_year': 2005,
  'acquisition': {'acquired_year': 2008}},
 {'name': 'Joost',
  'founded_year': 2006,
  'acquisition': {'acquired_year': 2009}},
 {'name': 'Plaxo',
  'founded_year': 2002,
  'acquisition': {'acquired_year': 2008}},
 {'name': 'Powerset',
  'founded_year': 2006,
  'acquisition': {'acquired_year': 2008}},
 {'name': 'Veoh',
  'founded_year': 2004,
  'acquisition': {'acquired_year': 2010}}]

### 20. All the companies that have been 'deadpooled' after the third year.

In [17]:
collection.find_one().keys()

dict_keys(['_id', 'name', 'permalink', 'crunchbase_url', 'homepage_url', 'blog_url', 'blog_feed_url', 'twitter_username', 'category_code', 'number_of_employees', 'founded_year', 'founded_month', 'founded_day', 'deadpooled_year', 'tag_list', 'alias_list', 'email_address', 'phone_number', 'description', 'created_at', 'updated_at', 'overview', 'image', 'products', 'relationships', 'competitions', 'providerships', 'total_money_raised', 'funding_rounds', 'investments', 'acquisition', 'acquisitions', 'offices', 'milestones', 'video_embeds', 'screenshots', 'external_links', 'partners'])

In [273]:
print(collection.distinct('deadpooled_year'))

[None, 1, 2, 3, 1963, 1991, 2001, 2002, 2003, 2004, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014]

In [282]:
collection.count_documents({'deadpooled_year': 1963})

1

In [283]:
proj = {'_id':0, 'name':1, 'founded_year': 1, 'deadpooled_year':1}
bonus = list(collection.find({'deadpooled_year': {'$ne': None}}, proj))
bonus[5]

{'name': 'Sparter', 'founded_year': 2007, 'deadpooled_year': 2008}

In [301]:
proj = {'_id':0, 'name':1, 'founded_year': 1, 'deadpooled_year':1}
bonus = list(collection.find({'deadpooled_year': {'$ne': None}, 'founded_year': {'$ne': None}}, proj))
bonus[:5]

[{'name': 'Wetpaint', 'founded_year': 2005, 'deadpooled_year': 1},
 {'name': 'AdventNet', 'founded_year': 1996, 'deadpooled_year': 2},
 {'name': 'Zoho', 'founded_year': 2005, 'deadpooled_year': 3},
 {'name': 'Omnidrive', 'founded_year': 2005, 'deadpooled_year': 2008},
 {'name': 'Babelgum', 'founded_year': 2007, 'deadpooled_year': 2013}]

In [306]:
df2 = pd.DataFrame(bonus)
df2.shape

(711, 3)

In [309]:
df2.head()

        name  founded_year  deadpooled_year
0   Wetpaint          2005                1
1  AdventNet          1996                2
2       Zoho          2005                3
3  Omnidrive          2005             2008
4   Babelgum          2007             2013

In [320]:
df2['founded_year + 3'] = df2.founded_year + 3

In [356]:
df3 = df2[df2.deadpooled_year == df2['founded_year + 3']]

In [354]:
df3 = df3[['name', 'deadpooled_year', 'founded_year + 3', 'founded_year']]
df3.head(20)

            name  deadpooled_year  founded_year + 3  founded_year
3      Omnidrive             2008              2008          2005
8      Jangl SMS             2008              2008          2005
23       TripHub             2008              2008          2005
40      EventVue             2010              2010          2007
49   CrowdSpirit             2010              2010          2007
57         Iggli             2010              2010          2007
64    BrightQube             2009              2009          2006
65      BuzzDash             2009              2009          2006
79        Floobs             2010              2010          2007
88        NebuAd             2009              2009          2006
93         YouOS             2008              2008          2005
97        Utterz             2010              2010          2007
103     PlayCafe             2009              2009          2006
114    MetaNotes             2010              2010          2007
117        UGAME             2010              2010          2007
118      China-8             2009              2009          2006
119       LUNARR             2009              2009          2006
123   openPeople             2009              2009          2006
137     FameCast             2010              2010          2007
157      Daikana             2010              2010          2007